body {
  font-family: "Poppins";
  background-color: #FAFAFA;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  margin: 0.5rem;
  color: #4C4E61;
}

.top-text h1 {
  font-weight: 200;
}

.top-text {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}


p {
  font-weight: 200;
  color: #A2A4AD;
}

.top-text p {
  margin: 0 30%;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.cards p {
  font-size: 0.9rem;
  padding-right: 4rem;
}

.bold-top-text {
  font-weight: 600;
}

.container {
  width: 100%;
  text-align: center;
}

.row1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.col1, .col2, .col3 {
  display: inline-block;
  margin: 0 1rem;
  align-items: center;
}

/* CARDS */
.cards {
  width: 22rem;
  height: 15rem;
  background-color: white;
  border-radius: 5px;
  margin: 2rem 0;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.card1 {
  border-top: 5px solid #44D2D2;
}

.card2 {
  border-top: 5px solid #EB5353;
}

.card3 {
  border-top: 5px solid #FCAF4A;
}

.card4 {
  border-top: 5px solid #549EF2;
}

.img {
  text-align: right;
  position: relative;
  top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 2rem;
}

.attribution a {
  color: #BF4343;
}

@media (max-width: 932px) {
  .col1, .col2, .col3, .row1 {
    display: inline-table;
  }

  .row1 {
    width: 95%;
  }

  h1 {
    font-size: 200%;
  }

  .card3 {
    margin-top: 4rem;
  }

}

@media (max-width: 750px) {

  .top-text p {
    margin: 0 15%;
    padding: 0 0.5rem;
  }


  .cards p {
    font-size: 0.9rem;
    padding-right: 5rem;
  }

}
